

.Contenedor {
    background-color: aliceblue;
    margin-left: 0;
    display: flex;
    flex-direction: column;

    border: .2vw solid black;
    border-radius: .8vw;

    min-width: 16vw;
    max-width: 16vw;
    flex: 1;
    overflow: hidden;
}

.Elemento {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(179, 179, 179);
    height: 4vh;
    display: flex;
    align-items: center;
    margin-top: .2vh;
    padding-left: 2vw;
    

}

.Elemento:hover{
    background-color: rgb(152, 152, 152);
    cursor: pointer;
}
