.Contenedor {
    display: flex;
    justify-content: center;
}

.Productos {
    height: 800px;
    padding: 2%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    overflow: scroll;
    overflow-x: inherit;
}

.Producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Boton {
    background-color: rgb(74, 212, 104);
    border: .13rem solid black;
    border-radius: 10%;
    margin-top: 1.2rem;
    width: 5rem;
    height: 2rem;
}

.Boton:hover {
    box-shadow: 0 0 10px rgb(58, 215, 18);
    scale: 1.2;
}

